.stack-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
  touch-action: none;
}

.card-rotate:active {
  cursor: grabbing;
}

.card-rotate-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card {
  border-radius: 1.25rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25), 0 8px 10px -6px rgba(0, 0, 0, 0.15);
  user-select: none;
  background-clip: padding-box;
}
